$dark-background-color: #18181b;
$dark-background-color-hover: hsla(0,0%,100%,.16);
$overlay-background-color: rgba(0,0,0,.6);
$overlay-background-color-hover: hsla(0,0%,25%,.70);
$primary-text-color: #efeff1;
$secondary-text-color: #adadb8;
$header-text-color: #dedee3;
$border-color: rgba(83,83,95,.48);
$border-color-hover: hsla(240,8%,88%,.4);
$input-focus-border-color: #a970ff;
$overlay-border-color: hsla(0,0%,100%,.22);
$button-background-color: #9147ff;
$button-background-color-hover: #772ce8;
$button-text-color: #fff;

$chat-width: 34rem;
$input-border-radius: 0.6rem;
$primary-border-radius: 0.4rem;
$overlay-border-radius: 0.5rem;
$text-font-size: 1.3rem;
$message-line-height: 2rem;
$button-height: 3rem;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;